In [28]:
# setup
import pandas as pd

In [29]:
# load data files
school_resource_data = "Resources/schools_complete.csv"
student_resource_data = "Resources/students_complete.csv"

In [30]:
# Read data and store into Pandas Data Frames
school_data = pd.read_csv(school_resource_data)
student_data = pd.read_csv(student_resource_data)

In [33]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [37]:
school_data.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [41]:
student_data.describe()

         Student ID  reading_score    math_score
count  39170.000000    39170.00000  39170.000000
mean   19584.500000       81.87784     78.985371
std    11307.549359       10.23958     12.309968
min        0.000000       63.00000     55.000000
25%     9792.250000       73.00000     69.000000
50%    19584.500000       82.00000     79.000000
75%    29376.750000       91.00000     89.000000
max    39169.000000       99.00000     99.000000

In [44]:
student_data.head(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80

In [53]:
student_data.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [58]:
student_data["gender"].value_counts()

F    19735
M    19435
Name: gender, dtype: int64

In [61]:
student_data["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [64]:
student_data["reading_score"].value_counts()

92    1197
77    1178
83    1176
98    1166
84    1166
82    1162
87    1161
80    1150
75    1149
85    1128
95    1126
88    1125
81    1121
72    1120
79    1116
94    1114
86    1113
73    1112
70    1110
93    1110
69    1110
74    1106
90    1105
89    1095
96    1089
76    1087
78    1078
91    1076
99    1075
71    1073
97    1026
65     758
63     751
68     746
66     743
64     738
67     714
Name: reading_score, dtype: int64

In [68]:
student_data["math_score"].value_counts()

84    1028
78    1019
81    1017
83    1017
91    1016
70    1014
68    1005
94    1004
72    1003
95     999
89     998
69     992
85     989
99     987
74     983
77     980
93     980
79     979
73     979
98     973
71     971
92     970
75     964
87     964
90     957
96     956
76     956
82     950
97     949
88     926
86     925
80     917
65     633
61     633
63     619
57     617
66     613
62     610
60     603
58     601
56     584
59     583
67     575
55     574
64     558
Name: math_score, dtype: int64

In [70]:
student_data["grade"].value_counts()

9th     11408
10th    10168
11th     9695
12th     7899
Name: grade, dtype: int64

In [72]:
school_data.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [73]:
student_data.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')